@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  font-family: 'Poppins', sans-serif;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  background-color: #1e1d2b;
  color: white;
  position: fixed;
  width: 100%;
  z-index: 1;
}

/* responsive */
nav.active {
  flex-direction: column;
  align-items: flex-start;
}

nav h2.logo {
  padding-left: 15vh;
  font-weight: 400;
  font-size: xx-large;
  color: #ff702a;
}

nav .bars {
  position: absolute;
  right: 1rem;
  font-size: xx-large;
  display: none;
}

ul.nav-links {
  display: flex;
  padding-right: 6vh;
}

/* responsive */
nav.active ul.nav-links {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

li.nav-link {
  list-style: none;
  margin: 0 vh;
  padding: 10px;
  display: flex;
  align-items: center;
}

li.nav-link:hover {
  background-color: #ccc;
  color: #1e1d2b;
  padding: -10px;
}

li.nav-link a {
  text-decoration: none;
  color: inherit;
  font-family: 'Poppins', sans-serif;
  font-size: large;
  text-transform: uppercase;
}

@media screen and (max-width: 800px) {
  nav .bars {
    display: block;
  }

  nav .nav-links {
    display: none;
  }
}


main{
    background-color: #1e1d2b;

}

main .part{
    height: 100vh;
    background-attachment: fixed;
}

main #home{
    color: #fff;
    text-align: center;
}

main #home .maintable{
  height: 100vh;
  padding: 10px;
  width: 50vh;
}

main #home .maintable .info{
  position: absolute;
  text-align: left;
  left: 30vh;
  top: 20vh;
}

main #home .maintable .info p{
  color: white;
  font-weight: 500;
  font-size: 30px;
  margin: 0;
}

main #home .maintable .info h1{
  color: #ff702a;
  font-weight: 250;
  font-size: 15vh;
}

main #home .maintable .info p{
  color: white;
  font-weight: 500;
  font-size: 30px;
}

main #home .maintable .info .menutoday{
  position: relative;
  top: 10px;
  text-decoration: none;
  color: white;
  border: 1px solid #ff702a;
  background-color: #ff702a ;
  padding: 10px 35px;
  border-radius: 5px;
}

main #home .maintable .info .menutoday:hover{
  
  color: #ff702a;
  border: 1px solid white;
  background-color: white ;
}

main #home .maintable .img{
  position: absolute;
  width: 35%;
  top: 10vh;
  right: 10vh;
}

main #about .secondtable{
  height: 100vh;
  right: 10vh;
  position: absolute;
  top: 100vh;
  color: white;
  left: 20vh;
}

main #about .secondtable .abus{
  padding-left: 100px;
}

main #about .secondtable h1{
  color: #ff702a;
  font-size: 20px;
  font-weight: 350;
}

main #about .secondtable h2{
  color: white;
  font-size: 40px;
  padding-bottom: 10px;

}

main #about .secondtable p{
  color: white;
  font-size: 19px;
  font-weight: 600;
  padding-bottom: 10px;

}

main #about .secondtable .learnmore{
  position: relative;
  top: 10px;
  text-decoration: none;
  color: white;
  border: 1px solid #ff702a;
  background-color: #ff702a ;
  padding: 10px 35px;
  border-radius: 5px;
}

main #about .secondtable .learnmore:hover{
  color: #ff702a;
  border: 1px solid white;
  background-color: white ;
}


main #menu .thirdtable{
  width: 100%;
  padding: 0 300px;
  height: 60vh;
  position: absolute;
  text-align: center;
}

main #menu .text{
  position: absolute;
  text-align: center;
  padding-left: 18%;
  padding-right: auto;
}

main #menu h1{
  padding-top: 5%;
  color: #ff702a;
  font-size: 20px;
  font-weight: 350;
  text-align: center;
}

main #menu h2{
  color: white;
  font-size: 40px;
  padding-bottom: 10px;
  text-align: center;
}

main #menu .thirdtable .container{
  margin-top: 50px;
  padding: 10px 0;
  border: 1px #ffefe8 solid;
  background-color: #ffefe8;
}

main #menu .thirdtable .food{
  margin: 10px;
  margin-top: 100px;
}

main #menu .thirdtable .food{
  margin-top: 150px;
  margin: 10px;
  padding: 10px;
}

main #menu .thirdtable .food h3{
  color: black;
  font-size: 19px;
  font-weight: 600;
}

main #menu .thirdtable .food h4{
  color: black;
  font-size: 18px;
  font-weight: 500;
}

main #menu .thirdtable .food p{
  color: #ff702a;
  font-size: 15px;
  font-weight: 300;
}

main #menu .thirdtable .food img{
  width: 60%;
}


main #service .fourthtable{
  height: 50vh;
  padding: 10px;
  width: 80%vh;
}

main #service h1{
  padding-top: 5%;
  color: #ff702a;
  font-size: 20px;
  font-weight: 350;
  text-align: center;
}

main #service h2{
  color: white;
  font-size: 40px;
  padding-bottom: 10px;
  text-align: center;
}

main #service .fourthtable .text{
  text-align: center;
}

main #service .fourthtable .text th{
  color: #ff702a;
  font-size: 24px;
  font-weight: 400;
}

main #service .fourthtable .text td{
  color: white;
  font-size: 25px;
  font-weight: 500;
}

main #service .fourthtable img{
  width: 50%;
}

main #contact { 
  padding-top: 15%;
  margin: 0 10%;
  height: 100vh;
  width: 80%;
}

main #contact .lasttable {
  height: 68%;
  width: 100%;
  text-align: center;
  background-color: #ffefe8;
}

main #contact .lasttable td{
  padding-bottom: 50px;
}

main #contact .lasttable tr th{
  color: black;
  font-size: 40px;
  padding-bottom: 5px;

}

main #contact .lasttable a{
  text-decoration: none;
  color: white;
  border: 1px solid #ff702a;
  background-color: #ff702a ;
  margin: 5px;
  padding: 10px 35px;
  border-radius: 5px;
}

main #contact .lasttable a:hover{
  color: #ff702a;
  border: 1px solid #1e1d2b;
  background-color:  #1e1d2b;
}
