@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  font-family: 'Poppins', sans-serif;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  background-color: #1e1d2b;
  color: white;
  position: fixed;
  width: 100%;
  z-index: 1;
}

/* responsive */
nav.active {
  flex-direction: column;
  align-items: flex-start;
}

nav h2.logo {
  padding-left: 15vh;
  font-weight: 400;
  font-size: xx-large;
  color: #ff702a;
}

nav .bars {
  position: absolute;
  right: 1rem;
  font-size: xx-large;
  display: none;
}

ul.nav-links {
  display: flex;
  padding-right: 6vh;
}

/* responsive */
nav.active ul.nav-links {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

li.nav-link {
  list-style: none;
  margin: 0 vh;
  padding: 10px;
  display: flex;
  align-items: center;
}

li.nav-link:hover {
  background-color: #ccc;
  color: #1e1d2b;
  padding: -10px;
}

li.nav-link a {
  text-decoration: none;
  color: inherit;
  font-family: 'Poppins', sans-serif;
  font-size: large;
  text-transform: uppercase;
}

@media screen and (max-width: 800px) {
  nav .bars {
    display: block;
  }

  nav .nav-links {
    display: none;
  }
}


main{
    background-color: #1e1d2b;

}

main .part{
    height: 100vh;
    background-attachment: fixed;
}

main #home{
    color: #fff;
    text-align: center;
}

main #home .maintable{
  height: 100vh;
  padding: 10px;
  width: 50vh;
}

main #home .maintable .info{
  position: absolute;
  text-align: left;
  left: 30vh;
  top: 20vh;
}

main #home .maintable .info p{
  color: white;
  font-weight: 500;
  font-size: 30px;
  margin: 0;
}

main #home .maintable .info h1{
  color: #ff702a;
  font-weight: 250;
  font-size: 15vh;
}

main #home .maintable .info p{
  color: white;
  font-weight: 500;
  font-size: 30px;
}

main #home .maintable .info .menutoday{
  position: relative;
  top: 10px;
  text-decoration: none;
  color: white;
  border: 1px solid #ff702a;
  background-color: #ff702a ;
  padding: 10px 35px;
  border-radius: 5px;
}

main #home .maintable .info .menutoday:hover{
  
  color: #ff702a;
  border: 1px solid white;
  background-color: white ;
}

main #home .maintable .img{
  position: absolute;
  width: 35%;
  top: 10vh;
  right: 10vh;
}

main #about .secondtable{
  height: 100vh;
  right: 10vh;
  position: absolute;
  top: 100vh;
  color: white;
  left: 20vh;
}

main #about .secondtable .abus{
  padding-left: 100px;
}

main #about .secondtable h1{
  color: #ff702a;
  font-size: 20px;
  font-weight: 350;
}

main #about .secondtable h2{
  color: white;
  font-size: 40px;
  padding-bottom: 10px;

}

main #about .secondtable p{
  color: white;
  font-size: 19px;
  font-weight: 600;
  padding-bottom: 10px;

}

main #about .secondtable .learnmore{
  position: relative;
  top: 10px;
  text-decoration: none;
  color: white;
  border: 1px solid #ff702a;
  background-color: #ff702a ;
  padding: 10px 35px;
  border-radius: 5px;
}

main #about .secondtable .learnmore:hover{
  color: #ff702a;
  border: 1px solid white;
  background-color: white ;
}


main #menu .secondtable{
  color:white;
  height: 100vh;
  right: 10vh;
  position: absolute;
  top: 100vh;
  color: white;
  left: 20vh;
}



main #service {
  color: white;
  height: 100vh;
  right: 10vh;
}



